@import "tailwindcss";

:root {
  --background: #f0ece9;
  --foreground: #0e0e10;
  --accent: #a16a4c;
  --muted: #c0bdb6;
  --border: #c0bdb6;
  --card: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-card: var(--card);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e10;
    --foreground: #f0ece9;
    --accent: #a16a4c;
    --muted: #c0bdb6;
    --border: #1a1a1c;
    --card: #121214;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
